<ion-header>

  <ion-navbar>
    <ion-title>Fridge</ion-title>
    <ion-buttons end>
      <button
        *ngIf="!isLoggedIn()"
        (click)="onLogin()"
        ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
      <button
        *ngIf="isLoggedIn()"
        ion-button>
        {{ money }}€
        <ion-icon name="euro"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-sliding
    *ngFor="let product of products">
      <ion-item
      [navPush]="productPage"
      [navParams]="product">
        <h2>
          <ion-row>
            <ion-col col-10>
              {{product.name}}
            </ion-col>
            <ion-col col-2>
              <ion-badge>{{product.price}}€</ion-badge>
            </ion-col>
          </ion-row>
        </h2>
        <p>
          {{product.description}}
        </p>
      </ion-item>

        <ion-item-options side="right">
          <button
            (click)="onBuyProduct(product)"
            ion-button icon-only color="secondary">
            <ion-icon name="cash"></ion-icon>
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
